:root {
    --bs-red: #810000;
    --bs-red-dark: #630000;
    --bs-white: #F0F5F9;
    --bs-gray: #788189;
    --bs-gray-light: #e1e4e6;
    --bs-gray-dark: #52616B;
    --bs-beige: #DFD3C3;
    --bs-beige-light: #EEEBDD;
    --bs-beige-dark: #C7B198;
    --bs-balck: #1E2022;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

html {
  font-size: 14px;
}

.h0{
    font-size:3.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem var( --bs-white), 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../img/login_bg.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.floating-textbox {
    padding-top: 0.75rem;
    border-width: 0px;
    border-bottom-width: 0.15rem;
    border-color: var(--bs-red);
    border-radius: 0px;
    background-color: transparent;
    color: var(--bs-gray-dark);
   
}
    .floating-textbox:active .floating-textbox:focus {
        outline: none !important;
        box-shadow: none;
    }
    

    .login-btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: var(--bs-red);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        color: var(--bs-beige);
        border-width: 0px;
        border-radius: 40px;
        padding: 0.5rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

.center{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: var(--bs-red);
    
}
#logo {
    width:50px;
    margin: auto;
    display: block;
    padding-bottom: 1rem;
}
.card-cover {
    background-color: var(--bs-gray-light);
    border-radius: 1.5rem;
    padding: 1rem;
    margin-bottom: 1.7rem;
}
#inner-card {
    background-color: #F8DBDB;
}

